################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StellarWallet/.vs/StellarWallet/v15
/StellarWallet/bin/Debug/netcoreapp2.0
/StellarWallet/obj
/.vs
/StellarWallet/.vs/config
/StellarWallet/bin/Release
/StellarWallet/Properties/PublishProfiles
/StellarWallet/StellarWallet.csproj.user
